.site-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 20px 0;
    @include atMedium {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        padding: 20px 0;
    }

    &__right-side{
            display: flex;
           flex-direction: column;
           align-items: center;
        @include atMedium {
            display: flex;
            flex-direction: row;

        }
    }
    &__left-side {
        h2 {
            color: $mainBlue;
            text-transform: uppercase;
        }
    }
    .nav-link-wrapper{
        height: 25px;
        text-transform: uppercase;
        //margin-right: 20px;
        border-bottom: 1px solid transparent;
        transition: border-bottom .5s;
       
        & > a{
            color: $mainBlue;
            text-decoration: none;
            //transition: color 5s;
            &:hover {
                color: $mainBlue;
            }
        }
        &:hover {
            border-bottom: 1px solid $mainBlue;
        }
        @include atMedium {
            margin-right: 20px;
        }
    }
    .active-nav-link {
        border-bottom: 1px solid $mainBlue;

        a {
            color: $mainBlue !important;
        }
    }

    &__menu-icon {
        width: 20px;
        height: 19px;
        //background-color: red;
        position: absolute;
        top: 25px;
        right: 10px;
        cursor: pointer;

        &::before{
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $mainBlue;
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }
        &__middle{
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $mainBlue;
            transition: all .3s ease-out;
            transform-origin: 0 50%;
        }
        &::after{
            content:'';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $mainBlue;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }

        @include atMedium {
            display: none;
        }
    }

    &__menu-icon--close-x {
        &::before {
            transform: rotate(45deg) scaleX(1.25);
        }

        .site-header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }

        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    }

    &__menu-content {
        display: none;
        padding-top: 50px;

        @include atMedium {
            display: block;
            padding-top:0;
        }
        &--is-visible {
            display: block;
        }
    }
   
}