.button {
    background-color: $gunmetal;
    color: $white;
    padding: 0.4em 3.5em;
    border: 0;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: $extra;
}

.modal{
    display:none;
    position: fixed;
    z-index:1;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, 0.5);
}

.visible {
    display: block;
}

.modal-content{
    background-color: #F4F4F4;
    margin: 20% auto;
    padding: 20px;
    width: 50%;
    height: 25%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name:modalopen;
    animation-duration: 1s;
}

.modal-body {
    text-align: center;
    top:50%;
    transform: translateY(80%);
    h2 {
        color: $mainBlue;
    }
    p {
        padding-top: 10px;
    }
    .icons{
        padding-top: 20px;
    }
}
@media only screen and (max-width: 717px) {
    .modal-body {
        transform: translateY(35%);
    }
}

.modal-footer{
    text-align: center;
}

.closeBtn {
    color: $seablue;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
    color: $mainBlue;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen{
    from {opacity: 0}
    to{opacity:1}
}